@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

#chapter-1 q{
	font-style: italic;
}

#chapter-2 q{
	font-style: italic;
}

#chapter-19 q{
	font-style: italic;
}

#chapter-22 q{
	font-style: italic;
}

#chapter-28 q{
	font-style: italic;
}

#chapter-33 blockquote{
	font-variant: small-caps;
	text-align: center;
}

#chapter-33 q{
	font-style: italic;
}
