@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:song"] p + p,
[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

#chapter-1 q,
#chapter-2 q,
#chapter-19 q,
#chapter-22 q,
#chapter-28 q,
#chapter-32 q,
#chapter-33 q{
	font-style: italic;
}

#chapter-33 blockquote{
	font-variant: small-caps;
	text-align: center;
}
